@font-face {
    font-family: Poppins;
    src: url(.../fonts/Poppins-Regular.otf);
}

@font-face {
    font-family: Poppins Light;
    src: url(.../fonts/Poppins-Light.otf);
}

@font-face {
    font-family: Poppins Bold;
    src: url(.../fonts/Poppins-Bold.otf);
}

@font-face {
    font-family: Photograph Signature;
    src: url(../fonts/Photograph\ Signature.ttf)
}


