.four-column-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1rem 0rem 1rem 0rem;
    row-gap: 1.3rem;
    width: 100%;
    max-width: 1000px;
    margin: auto;
    text-align: center;
}

@media  (min-width: 60rem) {

    .four-column-grid{
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 2rem 0rem 2rem 0rem;
    }
    
}

.two-column-add-gutters{
    grid-column-gap: 10%;
	grid-row-gap: 3rem;
    grid-template-columns: 50% 50%;
	grid-template-rows: auto;
	grid-auto-flow: row;
}
